@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.sidebar {
  width: 78px;
  z-index: 99;
}

.sidebar.active {
  width: 240px;
}

.home_content {
  width: calc(100% - 78px);
  left: 78px;
}

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  left: 240px;
}

.sidebar.active ~ .home_content {
  width: calc(100% - 240px);
  left: 240px;
}

.sidebar.active ~ .tab-pagination {
  display: none;
}